<%= render "layouts/header" %>

<section id="addNewProfile" class="pageContent">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-2"></div>
			<div class="col-xs-12 col-sm-8 text-center">
			<h1 class="smallHeading">Luo uusi profiili</h1>
			<h3>Täydennä profiilin tietoja 1/2.</h3>
			<%= render 'form' %>
			<%= link_to 'Takaisin', root_path %>
			</div>
			<div class="col-xs-12 col-sm-2"></div>
			</div>
		</div>
	</div>
</section>