/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import url(https://fonts.googleapis.com/css?family=Lobster+Two:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);
@import "bootstrap";

$snap-yellow: 	#FFFC00;
$main-yellow: 	#E8B419;
$snap-black: 	#16191a;
$snap-red: #ff4545;

html{
	height: 100%;
}

body{
	background: #000000;
}

a{
	h1{
	color: $snap-black;
	}
	&:hover{
	text-decoration: none;	
	}
}
h1{
	font-family: 'Open Sans', sans-serif;
	font-size: 5vw;
	@include media-breakpoint-down(xs) {
	font-size: 2rem;	
	}
	margin-bottom: 20px;
	font-weight: 800;
}
h2{
	color: $snap-black;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.2rem;
}

a{
	color: $snap-black;
	font-family: 'Open Sans', sans-serif;
	font-size: 0.9rem;
	font-weight: 600;
	&:hover{
		color: $snap-black;
		opacity: 0.6;
	}
}

.linkbutton{
	background: none;
	border: solid 2px white;
	background: white;
	padding: 10px 20px;
	border-radius: 30px;
	min-width: 200px;
	display: inline-block;
	margin: 15px auto;
	color: $snap-black;	
	text-align: center;
	&:hover{
		background: none;
		border: solid 2px white;
		color: $snap-black;	
		text-shadow: none;
		text-decoration: none;
		input{
			color: white;	
			text-shadow: none;
		}
	}
	input{
		background: none;
		border: none;
		font-family: 'Open Sans', sans-serif;
		text-decoration: none;
		&:hover{
			text-shadow: none;
			color: white;
		}
	}
}

header{
	position: relative;
	width: 100%;
	.row{
		.headerContent{
			position: relative;
			z-index: 20;
			padding: 10px;
		}
		#pageBrandNavLinks{
			padding: 0px;
			background: $snap-yellow;
			min-height: 335px;
			@include media-breakpoint-down(xs) {
				min-height: 200px;	
				padding-bottom: 10px;
			}
			a{
				font-size: 0.8rem;
			}
		}
		#resentProfiles{
			padding: 0px;
			color: white;
			position: relative;
			background: url('/images/hipsters.jpg') no-repeat;
			background-size: cover;
			background-position: center center;
			min-height: 335px;
			height: 100%;
			&:after{
				content: '';
				background: rgba(255,249,4,0.8);
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}

		}
	}
	#snappi-suomi-logo{
		margin: 20px auto;
		width: 150px;
		height: 150px;
		background: url('../images/logo.gif') no-repeat;
		background-size: 100%;
		background-position: center center;
		@include media-breakpoint-down(xs) {
			width: 80px;
			height: 80px;	
		}
	}	
	#brandHeading{
		margin: 30px 30px 0px 30px;
		@include media-breakpoint-down(xs) {
			text-align: center;
			.navbar{
				a{
					display: block;
					margin: 10px 0px;
				}
			}
		}
	}
	nav{
		a{
			font-size: 0.7rem;
		}
	}
}

#filterMenu{
	.navbar{
		border-radius: 0;
		background: $snap-black;
		a{
			color: white;
		}
	}
	a.navbar-brand{
		color: $snap-yellow;
	}
	a.dropdown-item{
		color: $snap-black;
	}
	.navbar-brand{
		@include media-breakpoint-down(xs) {
			display: none;
		}
	}
}

#noProfileAdded, #userProfilesTable{
	padding: 30px;
	color: white;
	h1{
		font-size: 2rem;
	}
	h2{
		font-size: 1rem;
		color: white;
		font-weight: 400;
		line-height: 1.2rem;
	}
	h3{
		font-size: 0.8rem;
		font-weight: 300;
	}
}

.alertLink{
	color: $snap-red;
	font-weight: 300;
	font-size: 0.8rem;
	&:hover{
		color: white;
	}
}

/*

.alertLink{
	color: $snap-red;
}

.smallSnapIcon{
	width: 18px;
	height: 18px;
	background: url('../images/small-icon.png') no-repeat;
	display: inline-block;
    position: relative;
    background-size: 100%;
}

.linkbutton{
	background: none;
	border: solid 2px white;
	background: white;
	padding: 10px 20px;
	border-radius: 30px;
	min-width: 200px;
	display: inline-block;
	margin: 15px auto;
	color: $snap-black;	
	&:hover{
		background: none;
		border: solid 2px white;
		color: $snap-black;	
		text-shadow: none;
		text-decoration: none;
		input{
			color: $snap-black;	
			text-shadow: none;
		}
	}
	input{
		background: none;
		border: none;
		font-family: 'Open Sans', sans-serif;
		color: white;
		text-decoration: none;
		text-shadow: 1px 1px 1px rgba(255, 174, 0, 0.23);
		&:hover{
			text-shadow: none;
			color: $snap-black;
		}
	}
}
*/
form{
	.field{
		position: relative;
		text-align: left;
		margin: 20px 0px;
		input{
			background: none;
			border: solid 2px white;
			padding: 10px 20px;
			border-radius: 30px;
			width: 100%;
			display: block;
			margin: 10px auto;
			font-family: 'Open Sans', sans-serif;
			font-weight: 400;
			font-size: 0.8rem;
		}
		.field_with_errors{
			input{
				border-color: $snap-red;
			}
		}
		label{
			font-family: 'Open Sans', sans-serif;
			font-weight: 400;
			font-size: 0.8rem;
			color: $snap-yellow;
			margin-bottom: 2px;
		}
		textarea{
			width: 100%;
			height: 200px;
			border-radius: 10px;
			border: solid 2px white;
			background: none;
			margin: 10px auto;
			padding: 10px 20px;
			font-family: 'Open Sans', sans-serif;
			font-weight: 400;
			font-size: 0.8rem;
		}
		select{
			background: none;
			border: solid 2px white;
			padding: 10px 20px;
			border-radius: 30px;
			width: 100%;
			display: block;
			margin: 10px auto;
			font-family: 'Open Sans', sans-serif;
			font-weight: 400;
			font-size: 0.8rem;
		}
		small{
			display: block;
			font-size: 0.7rem;
		}
	}
}

#error_explanation{
	padding: 20px;
	background: #ff4545;
	h2{
		font-size: 1rem;
		line-height: 1.5rem;
	}
	ul{
		
		list-style: none;
	}
}

#profiles{
	background: #000000;
	margin: 10px 0px;
	.col-sm-4{
		padding: 0;
	}
	.snapchatProfileContainer{
		background: #000000;
		margin-top: 10px;
	}
	.snapchatProfileContent{
		position: relative;
		z-index: 20;
	}
	.snapchatProfileContentDetails{
		color: white;
	}
	.profileName{
		color: $snap-yellow;
		font-family: 'Open Sans', sans-serif;
		font-weight: 600;
		font-size: 0.7rem;
		text-transform: uppercase;
		margin-bottom: 10px;
	}
	.profileNickName{
		font-family: 'Open Sans', sans-serif;
		font-weight: 400;
		font-size: 1.2rem;
		color: white;
	}
	.profileAbout{
		font-family: 'Open Sans', sans-serif;
		font-weight: 400;
		font-size: 0.8rem;
		color: #e3e3e3;
		margin: 10px 0px;
	}
	.profileLinks{
		a{
			color: white;
			font-size: 0.7rem;
		}
	}
	.snapchatProfileContentImage{
		
	}
	.img-bg{
		position: relative;
		width: 100%;
		height: auto;
		top: 0;
		text-align: center;
		z-index: 10;
	}
}

.pageContent{
	margin: 50px 0px;
	color: white;
	a{
		color: white;
	}
	h3{
		font-family: 'Open Sans', sans-serif;
		font-weight: 400;
		font-size: 1rem;
		margin-bottom: 20px;
		line-height: 1.5rem;
	}
	p{
		font-family: 'Open Sans', sans-serif;
		font-weight: 400;
		font-size: 0.8rem;
	}
}

#userProfilesTable{
	table{
		thead{
			tr{
				th{
					border-top: 0px;
					padding: 0px;
					font-family: 'Open Sans', sans-serif;
					font-weight: 400;
					font-size: 1rem;
				}
			}
		}
		tbody{
			tr{
				background: none;
				
				th{
					border: none;
					padding: 0px;
				}
				td{
					border: none;
					padding: 5px 0px;
					font-family: 'Open Sans', sans-serif;
					font-weight: 400;
					font-size: 0.8rem;
					a{
						color: white;
						font-family: 'Open Sans', sans-serif;
						font-weight: 400;
						font-size: 0.8rem;
					}
				}
			}
		}
	}
}

#ownProfiles{
	.navbar{
		border-radius: 0;
	}
}

.navbar-toggler{
	font-family: 'Open Sans', sans-serif;	
	font-size: 1rem;
	color: white;
}