<section id="filterMenu">
	<nav class="navbar">
	<button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">&#9776; Filtteröinti</button>
	<div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
	
	<%= link_to "Filtteröinti", root_path, :class => "navbar-brand" %>
	<ul class="nav navbar-nav">
			<li class="nav-item"><%= link_to "Kaikki", root_path, :class => "nav-link" %></li>
		<% Category.first(4).each do |category| %>
			<li class="nav-item">
				<%= link_to category.name, profiles_path(category: category.name) , :class => "nav-link" %>
			</li>
		<% end %>
		<li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
			Lisää aihetunnisteita
		</a>
		<div class="dropdown-menu">
		  <% Category.all.each do |category| %>
		  <%= link_to category.name, profiles_path(category: category.name) , :class => "dropdown-item" %>
		  <% end %>
		</div>
		</li>
		<% if user_signed_in? %>
		<li class="push-right">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">&#9776; omat profiilit</button>
		</li>
		<% else %>
		
		<% end %>
	  </ul>
	</div>
	</nav>
</section>