<section id="filterMenu">
	<nav class="navbar">
	<button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">&#9776; Filtteröinti</button>
	<div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
		<%= link_to "Filtteröinti", root_path, :class => "navbar-brand" %>
		<ul class="nav navbar-nav">
			<% tag_cloud Profile.tag_counts.first(4), %w[s m l] do |tag, css_class| %>
				<li class="nav-item">
				<%= link_to tag.name, tag_path(tag.name), class: 'nav-link' %>
				</li>  
			<% end %>
			<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
				Lisää aihetunnisteita
			</a>
			<div class="dropdown-menu">
			  <% tag_cloud Profile.tag_counts, %w[s m l] do |tag, css_class| %>
			  <%= link_to tag.name, tag_path(tag.name), class: 'dropdown-item' %>
			  <% end %>
			</div>
			</li>
			<% if user_signed_in? %>
			<li class="push-right">
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">&#9776; omat profiilit</button>
			</li>
			<% else %>
			<% end %>
		</ul>
	</div>
	</nav>
</section>


